<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.unverschaemt.pinFever" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".HallOfFame"
            android:label="@string/title_activity_hall_of_fame" >
        </activity>
        <activity
            android:name=".NewGame"
            android:label="@string/title_activity_new_game" >
        </activity>
        <activity
            android:name=".FriendsList"
            android:label="@string/title_activity_friends_list" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".DetailView"
            android:label="@string/title_activity_detail_view" >
        </activity>
        <activity
            android:name=".HallTrophy"
            android:label="@string/title_activity_hall_trophy" >
        </activity>
        <activity
            android:name=".Map"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".RoundDetails"
            android:label="@string/title_activity_round" >
        </activity>
    </application>

</manifest>
